<%= ExpenseTracker::charts.initialize_charts %>
<div class="row">
  <div class="panel panel-primary">
    <div class="panel-heading">Expenses per day</div>
    <div class="panel-body">
    	<%= ExpenseTracker::charts.draw_line_chart "expensesChart", expenses_line_data %>
    </div>
  </div>
</div>
<div class="row">
	<div class="col-md-6">
	  <div class="panel panel-primary">
	    <div class="panel-heading">Categories breakdown</div>
	    <div class="panel-body">
	    	<%= ExpenseTracker::charts.draw_pie_chart "categoriesChart", categories_chart_data %>
	    </div>
	  </div>
	</div>
	<div class="col-md-6">
	  <div class="panel panel-primary">
	    <div class="panel-heading">Subcategories breakdown</div>
	    <div class="panel-body">
	    	<%= ExpenseTracker::charts.draw_bar_chart "subcategoriesChart", subcategories_chart_data %>
	    </div>
	  </div>
	</div>
</div>